{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}  <!--لود کریس پای برای استایل دهی به فرم های جنگو-->

{% block title %}
    create article
{% endblock %}


{% block main %}



<div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">info of article</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form method="post">{%csrf_token%}
      <div class="card-body">
        {%if request.user.is_superuser%}
        <div class='row'>
            <div class='col-5'>
                {{form.author|as_crispy_field}}
            </div>
            <div class='col-6'>
                {{form.status|as_crispy_field}}
            </div>
        </div>
        {%else%}
        <div class="col-6">
            <div id="div_id_status" class="mb-3">
                <label for="id_status" class="form-label requiredField">
                     Status<span class="asteriskField"></span>
                </label>    

                <select name="status" class="select form-select" required="" id="id_status">
                    <option value="" selected="">---------</option>
                    
                    <option value="d">draft</option>

                    <option value="i">pendeing</option>
                </select>

            </div>
        </div>
        {%endif%}
        <div class='row'>
            <div class='col-3 ml-4'>
                {{form.title|as_crispy_field}}
            </div>
            <div class='col-4'>
                {{form.slug|as_crispy_field}}
            </div>
        </div>
        <div class='row'>
            <div class='col-5'>
                {{form.category|as_crispy_field}}
            </div>
            <div class='col-5'>
                {{form.publish|as_crispy_field}}
            </div>
        </div>
        <div class='row'>
            <div class='col-9'>
                {{form.is_special|as_crispy_field}}
            </div>


            <div class='col-9'>
                {{form.descriptions|as_crispy_field}}
            </div>
         </div>
      </div>
      <!-- /.card-body -->

      <div class="card-footer">
        <button type="submit" class="btn btn-primary">Submit</button>

        {% if user.is_superuser and request.resolver_match.kwargs.pk %}

        <a href="{% url "account:delete" article.pk %}" class="btn btn-danger">delete</a>

        {% endif %}
      </div>

    </form>
  </div>













{% endblock %}