{% extends 'registration/base.html' %}
{%block title%}show articles{%endblock%}


{%block main%}
<div class="my">
    <h5  class="m-0" >welcome {{user.get_full_name}}</p>
</div>


{%if object_list%}
    <div class="cont">
    <table class="table">
        <thead>
        <tr>
          <th>title</th>
          <th>author</th>
          <th>slug</th>
          <th>categorys</th>
          <th>date</th>
          <th class="text-center">status</th>
        </tr>
        </thead>
        {%for article in object_list%}     {% comment %} نمایش مقالات در صفحه ادمین خودمون object_list به صورت پیش فرض برای کلس بیس ویو ها هستش{% endcomment %}
        <tr>
            <td>
                 {% if article.status == 'd' or request.user.is_superuser%} {% comment %} اگر مقاله پیش نویس بود بشه ادیتش کرد یا اینکه طرف سوپر یوزر باشه و ادیت کنه {% endcomment %}
                <a href="{% url 'account:update' article.pk %}">{{article.title}}</a>
                {%else%}
                {{article.title}}
                {%endif%}
            </td>
            <td>{{article.author}}</td>
            <td>{{article.slug}}</td>
            <td>
                <div class="sparkbar" data-color="#00a65a" data-height="20">{{article.category_to_str}}</div>
            </td>
            <td>{{article.jalali_get_publish}}</td>


            <td class="mx-auto text-center">

                {% if request.user.is_superuser %}
                <form method="post" action={%url "account:delete" article.pk%}> {%csrf_token%}
                    <input type="submit" name="" value="delete this article" class="btn btn-danger p-1"> <!--  لینک پاک کردن  مقاله  -->
                </form>
            
                {% endif %}

                {%if article.status == "p"%}
                    <span class="badge badge-success"> published</span>
                {%else%}
                    <span class="badge badge-primary"> draft</span>
                {% endif %}

            </td>

        </tr>
        {%endfor%}
      </table>
    </div>
{%else%}
    <h3>there is nothing to show ...</h3>
{%endif%}
{%endblock%}
