{% load static %}




<!DOCTYPE html>

<link rel="stylesheet" href="{%static "registration/login.css"%}">

<script src="{%static "registration/login.js"%}"></script>



<div class="container"> <div class="row"> <div class="col-md-6"> <div class="card"> {% comment %} سی اس ار اف توکن های جنگو برای مقابله با حملات  {% endcomment %}
	<form  class="box" method="post">{% csrf_token %}
	<h1>Login</h1>
	<p class="text-muted"> Please enter your login and password!</p>  
	{{form.username}}
	{{form.password}}
	
	<label class="">
		<a class="forgot text-muted" href="{%url 'password_reset' %}">Forgot password?</a> <input type="submit"  name="" value="Login" >  
	</label>
	<div class="col-md-12">
	</form> 
</div>