{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}  <!--لود کریس پای برای استایل دهی به فرم های جنگو-->

{% block title %}
    profile
{% endblock %}


{% block main %}


<div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">info of profile</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form method="post">{%csrf_token%}
      <div class="card-body">
        {%if request.user.is_superuser%}
        <div class='row'>
            <div class='col-6'>
                {{form.username|as_crispy_field}}
            </div>
            <div class='col-6'>
                {{form.email|as_crispy_field}}
            </div>
        </div>
        {%endif%}
        <div class='row'>
            <div class='col-3'>
                {{form.first_name|as_crispy_field}}
            </div>
            <div class='col-4'>
                {{form.last_name|as_crispy_field}}
            </div>
        </div>
        <div class='row'>
            <div class='col-4'>
                {{form.special_user|as_crispy_field}}
            </div>
        </div>
        <div class='col-4'>
            {{form.is_author|as_crispy_field}}
        </div>
      </div>
      <!-- /.card-body -->

      <label class="ml-4"><a href="{%url 'change_password'%}">change password</a></label>

      <div class="card-footer">
        <button type="submit" class="btn btn-primary">save</button>

        {% if user.is_superuser %}

        {% comment %} <a href="{% url "account:delete" article.pk %}" class="btn btn-danger">delete</a> {% endcomment %}

        {% endif %}
      </div>

    </form>
  </div>













{% endblock %}