/* @font-face {
    font-family: 'Roboto';
    src: url('../fonts/Tanha.woff'); 
    font-weight: 700;
    font-style: normal; */
/* } */

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Tanha.woff');   /* فونت تنها را به پنل ادمین اد کردم*/
    font-style: normal;
}

/* @font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light-webfont.woff');
    font-weight: 300;
    font-style: normal;
} */
