<h1>hello its home page</h1>

<head>
  <link rel="stylesheet" href="../../templates/css_files/style.css">
</head>

<center>

      {%for human in post %}
        <div class="" width="200">
          <h2>{{human.title}}</h2>
          <p></p>
          <small>{{human.publish}}</small>
        </div>
          <br>
      {% endfor %}

</center>

<style media="screen">
  div{
    style:flexbox;
    height:100px;
    border-style: solid;
    border-width: 3px 3px;
  }
  h2{
    color:#bbbb;
  }
  p{
    color:green;
    width:600px;
  }
</style>
