{%extends 'blog/base.html'%}


{%block title%} {{post_detail.title}} {%endblock%}
{%block main%}




<!-- ..........style bloc............. -->
      {%block style%}
      <style media="screen">
      #cont{
          background-color: #e1ecef;
      }
      </style>
      {%endblock%}
<!-- ..........style bloc............. -->





      <center>

              <div class="container"  id="cont" width="200">
                <h2>{{object.title}}</h2>
                <p>{{object.descriptions|striptags | linebreaks }}</p>
                <p>{{object.category.title}}</p>
                <p>{{object.jalali_get_publish}}</p>

              </div>
                <br>


      </center>


{%endblock%}
