{%extends "blog/base.html"%}


{% comment %} این فایل تمپلیتی برای نمایسش پست های است برای مثال صفحه پست های کتگوری و صحفه همه پست ها  {% endcomment %}






{%block main%}


        <!-- Page content-->
        <div class="container ">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Featured blog post-->

                    <!-- Nested row for non-featured blog posts-->

                  {%for post in object_list%}


                  <div class="card mb-4">
                      {% comment %} <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a> {% endcomment %}
                      <div class="card-body">
                        <div>
                          <span class="small text-muted">{{post.jalali_get_publish}}</span>
                          {%if post.is_special%}
                          <span class="badge badge-danger ml-10"> special post</span>
                          {%endif%} 

                        </div>
                          <h2 class="card-title h4">{{post.title}}</h2>
 
                          <p class="card-text">{{post.descriptions|striptags | truncatewords:10}}</p>
                            {%for cat in post.category.active%}
                            <a href='{%url "blog:category" cat.slug%}'><p class="card-text">#{{cat.title}}</p></a> <br>
                            {%endfor%}
                            <a href='{%url "blog:author" post.author%}'><p class="card-text">{{post.author}}</p></a> <br>
                          <a class="btn btn-primary" href="{%url 'blog:Details' post.slug%}">Read more →</a>
                      </div>
                  </div>

                  {%endfor%}






                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <!-- Categories widget-->
                    <!-- Side widget-->
                </div>
                {% if page_obj.has_next %}
                    <a class="btn btn-primary mb-3" href="{%block url_next%}{%endblock%}"> more &rarr;</a>
                {% endif %}

                {% if page_obj.has_previous %}
                <a class="btn btn-primary mb-3 ml-3" href="{%block url_previous%}{%endblock%}"> previous post &larr;</a>
                {% endif %}
            </div>
        </div>

{%endblock%}